@{
                /**/

                ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Application is used to borrow room for event.</p>
<address>
    Bootcamp #33<br />
    Furqon, WA 089679061000<br />
    <abbr title="Phone">P:</abbr>
    085729069093
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:achmdfurqon@gmail.com">achmdfurqon@gmail.com</a><br />
</address>
